# Laravel core
/vendor
/node_modules
/public/build
/public/hot
/public/storage

# Environment files
.env
.env.*
!.env.example

# Storage (important)
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/*

# Keep public storage if needed
!/storage/app/public

# Cache
/bootstrap/cache/*.php

# PHPUnit
.phpunit.cache
.phpunit.result.cache

# Logs
npm-debug.log
yarn-error.log

# IDE / Editor
/.idea
/.vscode
/.fleet
/.nova
/.zed

# OS
.DS_Store
Thumbs.db

# Misc
/auth.json
Homestead.json
Homestead.yaml
.phpactor.json